{
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "@sdk": "./src/@sdk",
          "@components-ui": "./src/@components-ui",
          "@packages": "./src/@packages",
          "@ducks": "./src/@ducks"
        }
      }
    ]
  ]
}
